/* CSS Document                             */

@charset "UTF-8";

.banner{
	position: relative;
	width: 760px;
	margin: 0px;
	margin: 30px auto 50px auto;
}
.banner_image { position: absolute; top: 0px; left: 0px; z-index: 1; }
.my_carousel {
	position: relative;
	width: 760px;
	margin: 0px;
	background-color: #FFF;
	margin: 0px auto 0px auto;
}
.carousel_container {
	height: 340px;
	margin: 0px;
	background-color: #a00;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#carousel { margin: 0px auto 0px auto; width: 600px; height: 390px; }
#carousel img { width: 171px; height: 225px; cursor: pointer; }
.nextItem { position: absolute; top: 230px; left: 0px; z-index: 1001; cursor: pointer; }
.prevItem { position: absolute; top: 230px; right: 0px; z-index: 1002; cursor: pointer; }

.caption_container { width: 730px; border-left: 3px solid #448145; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 20px; }
#captions h2 { font-family: Arial; font-size: 32px; font-weight: normal; margin: 0px 0px 5px 0px; color: #448145; }
#captions p { text-align:justify;font-family: Arial; font-size: 14px; color: #444; margin: 0px 0px 0px 3px; }
#captions h3 { font-family: Arial; color: #444;font-weight: normal;}
#captions li { font-family: Arial; font-size: 14px;padding-left: 14px; color: #444; font-weight: normal; margin: 5px 0px 5px 0px;}

.leaves { position: absolute; top: 255px; left: -64px; z-index: 1000; }

.carousel_data { display: none; }
.footer{
	font-family: Arial
    display:block;
    position: absolute;
    bottom:1;
    height:100px;
    width:760px;
    background: url(../images/footer.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
	text-align: left;
	font-size:80%;
	color: #8f8f8f;
	padding:12px;
}

#copyright{font-family: Arial}
