/* CSS Document                             */

@charset "UTF-8";

.my_carousel {
	position: relative;
	width: 760px;
	margin: 0px;
	background-color: #FFF;
	margin: 30px auto 50px auto;
}

.carousel_container {
	height: 340px;
	margin: 0px;
	background-color: #a00;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#carousel { margin: 0px auto 0px auto; width: 600px; height: 350px; }
#carousel img { width: 300px; height: 225px; cursor: pointer; }
.nextItem { position: absolute; top: 230px; left: 0px; z-index: 1001; cursor: pointer; }
.prevItem { position: absolute; top: 230px; right: 0px; z-index: 1002; cursor: pointer; }

.caption_container { width: 730px; border-left: 3px solid #509551; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 20px; }
#captions h2 { font-family: Arial; font-size: 32px; font-weight: normal; margin: 0px 0px 5px 0px; color: #6d8824; }
#captions p { text-align:justify;font-family: Arial; font-size: 14px; color: #444; margin: 0px 0px 0px 3px; }

.leaves { position: absolute; top: 255px; left: -64px; z-index: 1000; }

.carousel_data { display: none; }
.footer{ font-family: Arial;bottom:0px;height:40px;width:765px;background:#509551;color:#fff}
.footer h6 { font-family: Arial;padding-top:15px;text-align:right;}
